<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115156425936-o106e7u9o4dsr46nghoofk4cnan3tkmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115156425936-o106e7u9o4dsr46nghoofk4cnan3tkmu</string>
	<key>API_KEY</key>
	<string>AIzaSyA6ugM1lhyKcnwBc-f4fH2UTTah7myaGz4</string>
	<key>GCM_SENDER_ID</key>
	<string>115156425936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryannair05.F5</string>
	<key>PROJECT_ID</key>
	<string>findafriendforfoodfast</string>
	<key>STORAGE_BUCKET</key>
	<string>findafriendforfoodfast.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115156425936:ios:0ed41c652c38b07b5892d5</string>
	<key>DATABASE_URL</key>
	<string>https://findafriendforfoodfast-default-rtdb.firebaseio.com</string>
</dict>
</plist>